/*Upper block*/
.up{
    background-color: yellow;
}
.up__button{
    padding: 5px;
}
.up__form{
    text-align: center;
}
.up__text-input{
    color: #2f2b85;
}
.up__date{
    border: 1px solid black;
}
/*Upper block end*/

/*Bottom block*/
.bottom{
    background-color: green;
}
/*Menu block*/
.menu{
    padding: 30px;
}
.menu__button{
    padding: 10px;
    border: 0;
}
.menu__button_violet{
    background-color: violet;
}
.menu__button_orange{
    background-color: orange;
}
.menu__button_blue{
    background-color: blue;
}
.menu__button_red{
    background-color: red;
}
/*Menu block end*/

/*Slider block*/
.slider{
    padding: 15px;
}
.slider__img{
    height: 300px;
    width: 300px;
}

/*Slider block end*/
/*Bottom block end*/
