body{
    background-image:url("../Img/space.jpg");
    overflow: hidden;
}
.mars-orbit{
    margin: 30px auto;
    height: 500px;
    max-width: 500px;
    border-radius: 50%;
    border: 7px solid white;
    animation-duration: 6s;
    animation-name: gravity;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.mars-orbit:hover{
    animation-play-state: paused;
}
.sun{
    position: absolute;
    top: 230px;
    left: 46%;
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.sun:hover{
    animation-play-state: running;
    transform: scale(1.2);
}
.mars{
    background-color: red;
    left: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}
.mars:hover{
    transform: scale(1.2);
}
@keyframes gravity {
    from{ transform: rotate(0deg);

    } to {
        transform: rotate(360deg);
          }
}


