body{
    background-image:url("../Img/space.jpg");
}
.sun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.mars-orbit{
    border: solid white 4px;
    position: fixed;
    top: 6%;
    left: 29.5%;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    animation: orbit 5s linear infinite;
}
.mars{
    background-color: red;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 0,5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes orbit {
    100%{transform: rotate(360deg);}
}
@keyframes scale {
    100%{transform: scale(1.2, 1.2);}
}
div>div:hover{animation: scale 500ms infinite}
div:first-child:hover{animation: scale 500ms infinite}